.card{
    margin: 0 2% !important;

    
}

.infected{
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
    background-image: linear-gradient(to right top, #2d282b, #383237, #423d44, #4b4952, #545560, #606570, #6d757f, #7b868f, #929fa5, #acb8bc, #c6d1d3, #e2ebeb);
    
}

.recoverd{
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
    background-image: linear-gradient(to right top, #2d282b, #383237, #423d44, #4b4952, #545560, #606570, #6d757f, #7b868f, #929fa5, #acb8bc, #c6d1d3, #e2ebeb);
}

.deaths{
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
    background-image: linear-gradient(to right top, #2d282b, #383237, #423d44, #4b4952, #545560, #606570, #6d757f, #7b868f, #929fa5, #acb8bc, #c6d1d3, #e2ebeb);
}
.deaths_color{
    color: #fff;
}

.infected_color{
    color: #fff;
}

.recoverd_color{
    color: #fff;
}

.sihalafont{
    font-size: 20px;
}
@media (max-width :700px){
    .card{
        margin: 0 2% !important;
    }
}